ol.breadcrumb(class="p+")
    li.home-item
        a.btn.btn--xs.btn--white.btn--fab(ui-sref="root.home", lx-ripple)
            i.mdi.mdi-home
    li.breadcrumb-item(ng-repeat="nav in vm.breadcrumbs")
        i.icon.tc-white.icon--xs.mdi.mdi-chevron-right
        a.btn.btn--xs.btn--white.btn--raised(ng-if="!$last", ui-sref="{{nav.link}}")
            | {{nav.text}}
        span.tc-white(ng-if="$last") {{nav.text}}
