.dropdown {
  & > :global(.anticon) {
    margin-right: 0.5em;
  }
}

.title {
  overflow: hidden;
  max-width: 200px;
  font-weight: bold;
  white-space: nowrap;
}

.action {
  margin-left: 0.75em;
  cursor: pointer;

  &:not(:active):hover {
    transform: scale(1.5);
  }
}
