<div ng-if="dashId">
<div style="width: 100%;height: 100%" ng-if="!vars.loaded">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>
<div  ng-if="vars.loaded">
    <div layout="row">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                        <md-tooltip>favorite</md-tooltip>
                        <i class="mdi mdi-18px mdi-cast"></i>
                    </md-button>

                    <h2 flex md-truncate>{{vars.dash.title}} </h2>

                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-tooltip>favorite</md-tooltip>
                        <i class="mdi mdi-18px mdi-heart" ng-click="addFavorite()"></i>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Save">
                        <md-tooltip>Pin</md-tooltip>
                        <i class="mdi mdi-18px " ng-class="staticGrid ? 'mdi-pin' : 'mdi-pin-off'" ng-click="switchStaticGrid()"></i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Save">
                        <md-tooltip>Save</md-tooltip>
                        <i class="mdi mdi-18px mdi-content-save-all" ng-click="saveState()"></i>
                    </md-button>


                </div>
            </md-toolbar>



    </div>

    <div layout="row" ng-if="vars.dash.vars" style="padding-top: 10px">
        <br>
        <br>
        <md-content class="md-no-momentum">
                <md-input-container style="margin-right: 10px;" ng-if="vars.dash.vars.date">
                    <md-datepicker ng-model="vars.dash.vars.date.default" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>




            <md-input-container ng-if="vars.dash.vars.limit">

                <input ng-model="vars.dash.vars.limit.default" type="text" placeholder="Кол-во">
            </md-input-container>


                <!--<md-input-container style="margin-right: 10px;">-->


                    <!--<label>Size</label>-->
                    <!--<md-select ng-model="size">-->
                        <!--<md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
                <!--<md-input-container>-->
                    <!--<label>Topping</label>-->
                    <!--<md-select ng-model="selectedToppings" multiple>-->
                        <!--<md-optgroup label="Meats">-->
                            <!--<md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>-->
                        <!--</md-optgroup>-->
                        <!--<md-optgroup label="Veggies">-->
                            <!--<md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>-->
                        <!--</md-optgroup>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
                <md-input-container>
                    <md-button class="md-accent md-warn" ng-click="init()">Apply</md-button>
                </md-input-container>

    </md-content>
    </div>

    <div layout="row">
        <div style="width: 100%;height: 100%">
            <!-- widgets widgets -->
            <div  ng-include="'app/render/WidgetsList.html'"></div>
            <!-- widgets widgets -->
        </div>


    </div>

</div>
</div>