
<div style="width: 100%;height: 100%">
    <md-content layout="column">
        <md-tabs flex md-dynamic-height layout="column" layout-fill class="md-accent"
        md-selected="tab.selectedDashTab">

            <md-tab flex layout="column" ng-repeat="dashContainer in listDashboards" md-on-select="initDash(dashContainer.id)">
                <md-tab-label>
                    {{::dashContainer.title}}
                    <i class="mdi mdi-18px ml+" ng-class="dashContainer.pinned ? 'mdi-pin' : 'mdi-pin-off'" ng-click="dashContainer.pinned = !dashContainer.pinned; $event.stopPropagation()"></i>
                    <i class="mdi mdi-close" ng-click="removeResult(tab, dashContainer, $event)"></i>
                </md-tab-label>
                <md-tab-body flex layout-fill style="background:cyan">
                    <div ng-init="widgets = getWidgets(dashContainer.id)"  ng-if="isInitDash(dashContainer.id)" class="tabbodydash">
                                <div ng-include="'app/render/WidgetsList.html'" class="dashWidgetsList"></div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </md-content>
</div>