DASH
<div class="row">
    <div class="col-md-12">
        <div class="WidgetsListResult">


            <p>{{widgets}}</p>

                    <div gridstack class="grid-stack grid1" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
                        <div gridstack-item ng-repeat="w in widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
                             gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
                            <div class="grid-stack-item-content">
                                <a class="btn btn-primary" ng-click="removeWidget(w)" href="#">remove</a>
                            </div>
                        </div>
                    </div>


        </div>
    </div>
</div>


