<div class="pl pr h100">
    <div class="card h100">
        <md-tabs md-dynamic1-height md-border-bottom class="h100">

            <!-- колонки -->
            <md-tab lx-icon="table-column-plus-after">
                <md-tab-label>
                    <i class="mdi mdi-table-column-plus-after mr-"></i>Структура</md-tab-label>
                <md-tab-body>
                    <div class="data-table-container">
                        <table class="data-table">
                            <thead>
                                <tr class="data-table-row">
                                    <th style="width: 40px"></th>
                                    <th style="width: 40%">Название</th>
                                    <th style="width: 10%">Тип</th>
                                    <th style="width: 10%">Default тип</th>
                                    <th style="width: 10%">Значение</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="data-table-row" ng-repeat="field in vars.columns.data">
                                    <td class="tc-grey-400">{{$index + 1}}</td>
                                    <td ng-repeat="key in ['name', 'type', 'default_type', 'default_expression'] track by $index">
                                        {{field[key]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <md-tab-body></md-tab>

                    <!-- данные -->
                    <md-tab>
                        <md-tab-label>
                            <i class="mdi mdi-table-large mr-"></i>Данные</md-tab-label>
                        <md-tab-body>
                            <div class="pl+ pt+ pb+ pr" style="font-size: .75rem;max-height:100%">
                                <div class="float-right" style="margin-top: -12px">
                                    <md-button class="md-icon-button" aria-label="load prev" ng-click="loadPrev()" ng-disabled="vars.offset === 0">
                                        <i class="mdi mdi-arrow-left"></i>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="load next" ng-click="loadNext()">
                                        <i class="mdi mdi-arrow-right"></i>
                                    </md-button>
                                </div>
                                Данные
                                <span class="tc-grey-400">c
                                    {{vars.offset}}
                                    по
                                    {{vars.offset + vars.limit}}</span>
                            </div>
                            <div class="card__actions p+" style="position:absolute; top:46px; bottom:0;left:0;right:0; overflow:hidden" ng-scrollbars ng-scrollbars-config="vars.scrollConfig">
                                <span ng-if="vars.data === null" class="fs-caption">нет данных</span>
                                <md-progress-circular md-mode="determinate" ng-if="vars.data == -1"></md-progress-circular>
                                <div ng-if="vars.data !== null && vars.data != -1" ng-bind-html="vars.data"></div>
                            </div>
                        </md-tab-body>
                    </md-tab>

                    <!-- информация -->
                    <md-tab>
                        <md-tab-label>
                            <i class="mdi mdi-information mr-"></i>Информация</md-tab-label>
                        <md-tab-body>
                            <div class="data-table-container">
                                <table class="data-table">
                                    <tbody>
                                        <tr class="data-table-row">
                                            <td class="tc-grey-400" style="width: 40px">1</td>
                                            <td style="width: 200px">Размер</td>
                                            <td>
                                                {{vars.statistics.size}}
                                            </td>
                                        </tr>
                                        <tr class="data-table-row">
                                            <td class="tc-grey-400">2</td>
                                            <td>Размер, байт</td>
                                            <td>
                                                {{vars.statistics.sizeBytes}}
                                            </td>
                                        </tr>
                                        <tr class="data-table-row">
                                            <td class="tc-grey-400">3</td>
                                            <td>Первая запись</td>
                                            <td>
                                                {{vars.statistics.minDate}}
                                            </td>
                                        </tr>
                                        <tr class="data-table-row">
                                            <td class="tc-grey-400">4</td>
                                            <td>Последняя запись</td>
                                            <td>
                                                {{vars.statistics.maxDate}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
