<div class="pl pr">
    <div class="card">
        <header class="data-table-header">
            <div class="data-table-header__label">
                <span class="fs-title">{{vars.name}}</span>
            </div>
        </header>
        <lx-tabs lx-theme="light" lx-color="blue">

            <!-- колонки -->
            <lx-tab lx-icon="table-column-plus-after" lx-label="Структура">
                <div class="data-table-container">
                    <table class="data-table">
                        <thead>
                            <tr class="data-table-row">
                                <th style="width: 40px"></th>
                                <th style="width: 40%">Название</th>
                                <th style="width: 10%">Тип</th>
                                <th style="width: 10%">Default тип</th>
                                <th style="width: 10%">Значение</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data-table-row" ng-repeat="field in vars.columns.data">
                                <td class="tc-grey-400">{{$index + 1}}</td>
                                <td ng-repeat="key in ['name', 'type', 'default_type', 'default_expression'] track by $index">
                                    {{field[key]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </lx-tab>

            <!-- данные -->
            <lx-tab lx-icon="table-large" lx-label="Данные">
                <div class="pl+ pt+ pb+ pr" style="font-size: .75rem;">
                    <div class="float-right" style="margin-top: -12px">
                        <lx-button lx-size="l" lx-color="black" lx-type="icon" ng-click="loadPrev()" ng-disabled="vars.offset === 0">
                            <i class="mdi mdi-arrow-left"></i>
                        </lx-button>
                        <lx-button lx-size="l" lx-color="black" lx-type="icon" ng-click="loadNext()">
                            <i class="mdi mdi-arrow-right"></i>
                        </lx-button>
                    </div>
                    Данные <span class="tc-grey-400">c {{vars.offset}} по {{vars.offset + vars.limit}}</span>
                </div>
                <div class="card__actions p+" style="max-height: 560px; overflow-x: auto; overflow-y: auto;">
                    <span ng-if="vars.data === null" class="fs-caption">нет данных</span>
                    <lx-progress lx-type="linear" lx-color="teal" ng-if="vars.data == -1"></lx-progress>
                    <div ng-if="vars.data !== null && vars.data != -1" ng-bind-html="vars.data"></div>
                </div>
            </lx-tab>

            <!-- информация -->
            <lx-tab lx-icon="information" lx-label="Информация">
                <div class="data-table-container">
                    <table class="data-table">
                        <tbody>
                            <tr class="data-table-row">
                                <td class="tc-grey-400" style="width: 40px">1</td>
                                <td  style="width: 200px">Размер</td>
                                <td>
                                    {{vars.statistics.size}}
                                </td>
                            </tr>
                            <tr class="data-table-row">
                                <td class="tc-grey-400">2</td>
                                <td>Размер, байт</td>
                                <td>
                                    {{vars.statistics.sizeBytes}}
                                </td>
                            </tr>
                            <tr class="data-table-row">
                                <td class="tc-grey-400">3</td>
                                <td>Первая запись</td>
                                <td>
                                    {{vars.statistics.minDate}}
                                </td>
                            </tr>
                            <tr class="data-table-row">
                                <td class="tc-grey-400">4</td>
                                <td>Последняя запись</td>
                                <td>
                                    {{vars.statistics.maxDate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </lx-tab>

        </lx-tabs>
    </div>
</div>
