# phpstorm project files
.idea/*

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# version info file
version.json


# apidoc
/docs
/app/apidoc.json
tests/_output/*
tests/_output/*