{
  "presets": [
      "@babel/preset-env",
      "@babel/preset-react",
      ["@babel/preset-stage-0", { "decoratorsLegacy": true, "pipelineProposal": "minimal" }]
  ],
  "plugins": [
      "react-hot-loader/babel",
      "babel-plugin-transform-class-properties",
      [
          "babel-plugin-styled-components",
          {
              "displayName": false,
              "transpileTemplateLiterals": true
          }
      ]
  ]
}
