{
  "extends": "eslint:recommended",
  "plugins": ["angular", "es6-recommended"],
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true
  },
  "globals": {
    "angular": true,
    "smi2": true,
    "module": true,
    "inject": true,
    "moment": true
  },
    "rules": {
        "semi": 2,
        "angular/window-service":0,
        "angular/on-watch":0,

        // Нет объективных причин почему вместо $scope используется this.
        // Никаких изменений в производительности, памяти.
        // Хотя JohnPapa настаивает на this
        // https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y031
        "angular/controller-as": 0,
        "angular/controller-as-route":0,

        "angular/module-getter":0,
        "angular/di":0,
        "angular/log":0,
        "no-console":0
    }
}
