bower_components
node_modules
.tmp
coverage
help
manual/site
# IntelliJ project files
.idea
*.iml
out
gen
build
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
public/assets/css
public/assets/js
index.html
.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log