# Output
dist/
*.log

# Temp and caches
node_modules/
.cache/
.awcache/
.DS_Store
*~

# IDE
.idea/
*.iml
.vscode/
.history/

# Remove after prepare project
app/src/components/Handsontable/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*


# Grammars 
grammar/output
