.home-view
    .card.bgc-white.text-center(class="p+++")
        h2.title СМИ2 сlickhouse frontend
        h3.subtitle
            | GUI для работы с СУБД Yandex clickhouse.
        a.btn.btn--green.btn--l.btn--raised(class="mt+", ui-sref="root.login", lx-ripple="white") Войти
