.sider-container {
  overflow-x: hidden;
}

.tabs {
  & :global {
    .ant-tabs-bar {
      margin-bottom: 0;
      display: flex;
      align-items: center;

      & .ant-tabs-nav-container {
        /* flex-shrink: 0; */
      }

      & div.ant-tabs-extra-content {
        /* flex-grow: 1; */
        order: 999;
        line-height: normal;
      }
    }
  }

  & :global(.ant-tabs-content) {
    /* height: calc(100% - 40px); */
  }
}
