.breadcrumb-view
    .breadcrumb
        list-style none
        li
            display inline-block
        .home-item > a
            margin-top -2px
        .breadcrumb-item
            margin-left -5px
            > i
                margin-top -1px
