.header-view
    position fixed
    width 100%
    z-index 999
    .toolbar
        +sm()
            padding-left 0
            padding-right 0
        .logo
            width 40px
            height 40px
        .fs-title
            a
                text-decoration none
