body
    #loading-bar
        .bar
            background $loadingColor
            height 3px
        .peg
            box-shadow 0 0 10px $loadingColor, 0 0 5px $loadingColor

    #loading-bar-spinner .spinner-icon
        border-top-color  $loadingColor
        border-left-color $loadingColor

