.pt-tree-node-content-1
{
  padding-left: 10px;
}
.pt-tree-node-content-2
{
  padding-left: 30px;
  margin-top: -5px;
}
.pt-tree-node-content-3 .pt-tree-node-secondary-label{
  font-size: 9px;
  font-style: italic;
}
.pt-tree-node-content-3
{
  padding-left: 30px;
  margin-bottom: -7px;
  margin-top: -8px;
  font-size: 11px;

}

.pt-tree-node-caret{
  display: none;
}
.pt-tree-node {
  margin-bottom: -2px;
  margin-top: -2px;
}
.pt-tree-node-content-3:hover{
  height:30px;
  padding-bottom: -5px;
}
.pt-dark .pt-tree-node-content-3:hover{
  color: #6897bb;
}