.bp3-tree-node {
    cursor: pointer;
}
.bp3-tree-node-content-1 {
    padding-left: 1px;
}
.bp3-tree-node-content-2 {
    padding-left: 15px;
    margin-top: -7px;
}
.bp3-tree-node-content-3 {
    padding-left: 45px;
    margin-bottom: -4px;
    margin-top: -4px;
    font-size: 11px;
}
.bp3-tree-node-content-3 .bp3-tree-node-secondary-label {
    font-size: 9px;
    font-style: italic;
}

.bp3-tree-node-content-2 > .bp3-tree-node-icon {
    width: 15px;
    height: 10px;
}
.bp3-tree-node-content-3:hover {
    height: 30px;
    padding-bottom: -5px;
}

.TagLists > .bp3-tag{
    //border: 1px dotted sandybrown;
    display: inline-block;
}
.TagLists {
    //border: 1px solid silver;
    white-space:nowrap;
    overflow-y: auto;
    overflow-x: auto;
    height: 30px;
    width:100%;
    padding-top: 5px;

}