.root {
  :global {
    & .ReactVirtualized__Grid {
      outline: none;
      padding: 0.25em;
    }
  }
}

.selectable {
  user-select: none;

  &.selected {
    background-color: aquamarine;
  }

  &.highlighted {
    background-color: burlywood;
  }
}

.expandable {
  position: relative;
  cursor: pointer;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75em;

  &::before {
    content: '';
    display: inline-block;
    border: 0.35em solid transparent;
  }

  &.collapsed::before {
    border-left-color: inherit;
    border-right-color: inherit;
    border-right-width: 0;
  }

  &.expanded::before {
    border-top-color: inherit;
    border-bottom-color: inherit;
    border-bottom-width: 0;
  }
}
