.phone-add-view.full-width
    .card
        .card-header(class="p+")
            h3.title Add a new phone
        .card-content
            aio-phone-form(phone="vm.phone", submit="vm.addNewPhone", state="vm.state")
