<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Kill query</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-list flex>
                    <md-subheader class="md-no-sticky"></md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="q in queryesToKill" ng-click="kill(q)">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ q.elapsed }}</h3>
                            <b>{{ q.query }}</b>
                            <p>{{ q.bytes_read }}</p>
                            <p>{{ q.hash }}</p>
                        </div>
                    </md-list-item>
                </md-list>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>


            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
