
<md-tabs class="md-tabs-fix" md-stretch-tabs="yes" md-border-bottom md-autoselect layout-fill md-selected="vars.selectedTabResultIndex" style="width: 100%;height: 100%">


    <!-- !Show Processes! -->
    <md-tab md-on-select="initProcessesTab()" layout-fill>
        <md-tab-label>
            {{'Список процессов' | translate}} <i class="mdi mdi-18px mdi-palette-advanced"></i>
        </md-tab-label>
        <md-tab-body>
            <div flex layout-fill ng-include="'app/metrics/processes.html'" ng-if="vars.active.Processes"></div>
        </md-tab-body>
    </md-tab>


    <!-- !Overview! -->
        <md-tab md-on-select="initOverviewTab()" ng-click="initOverviewTab()" layout-fill>
            <md-tab-label>
                {{'Обзор' | translate}} <i class="mdi mdi-18px mdi-table-large"></i>
            </md-tab-label>
            <md-tab-body>
                <div ng-include="'app/metrics/overview.html'" ng-if="vars.active.Overview"></div>
            </md-tab-body>
        </md-tab>


<!-- !Chart metrics! -->
        <md-tab md-on-select="initChartTab()" layout-fill>
            <md-tab-label>
                {{'Метрики' | translate}} <i class="mdi mdi-18px mdi-chart-bar"></i>
            </md-tab-label>
            <md-tab-body>
                <div flex layout-fill ng-include="'app/metrics/metricschart.html'" ng-if="vars.active.Chart"></div>
            </md-tab-body>
        </md-tab>


    </md-tabs>
