<h1 class="md-title">Overview</h1>



<div ng-controller="OverviewController as render">
    <!--<md-button class="md-raised md-primary" ng-click="dumpStaticGridSizes()">dumpStaticGridSizes</md-button>-->
    <div class="row">
        <div class="col-md-12">

            <div class="WidgetsListResult">
                <div gridstack class="grid-stack grid1" options="gridStackOptions" staticGrid="staticGrid">



                        <div gridstack-item ng-repeat="w in widgets" class="grid-stack-item WidgetsListItem"
                            gs-item-x="w.x" gs-item-y="w.y"
                            gs-item-width="w.sizeX" gs-item-height="w.sizeY" >

                            <div class="widget-grid-stack grid-stack-item-content ">
                                <draw-widget
                                        widget="w" ng-if="w.init && !w.error"
                                        isdark="vars.isDark" class="widget widget-grid-stack-item widget-{{w.type}} widget-selector" events="events">
                                </draw-widget>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>