<div ng-controller="ProcessesController as render"   style="width: 100%;height: 100%">
    <h1 class="md-title">{{'Список процессов' | translate}}</h1>
    <md-card-content>
        <div layout="row">
            <md-input-container class="md-block" flex-gt-sm>

                <label>{{'Частота обновления' | translate}}</label>
                <md-select ng-model="vars.interval" ng-change="setInterval()" >
                    <md-option ng-repeat="interval in [-1, 0.2 , 0.5, 1, 5, 10, 20, 30]" ng-value="interval">
                        {{interval == -1 ? ('Обновление отключено'|translate) : interval  +' '+('сек'|translate)}}
                    </md-option>
                </md-select>
            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm>
                <md-switch class="md-primary" name="special" ng-model="table.wordWrap">
                    {{'Перенос строк' | translate}}
                </md-switch>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <md-switch class="md-primary" name="special" ng-model="vars.logMode">
                    {{'Логирование' | translate}}
                </md-switch>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <md-switch class="md-primary" name="special" ng-model="vars.clusterMode">
                    Cluster
                </md-switch>
            </md-input-container>


            <md-input-container class="md-block" flex-gt-sm ng-click="load()">
                <md-button class="md-raised md-primary">{{'Обновить' | translate}}</md-button>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm ng-click="flush()">
                <md-button class="md-raised">{{'Очистить' | translate}}</md-button>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm ng-click="dialogKill()">
                <md-button class="md-raised md-warn">KILL Query</md-button>
            </md-input-container>

        </div>

        <div layout="row">
        <md-progress-circular ng-if="vars.loading" class="md-accent" md-diameter="40"></md-progress-circular>
        <hot-table
                ng-class="{'handsontable-dark': vars.isDark}"
                hot-id="hotTableProcesses"
                word-wrap="table.wordWrap"
                settings="table.settings"
                datarows="table.data"
                style="width: 100%;height: 100%;"
                col-headers="table.colHeaders"
                manual-column-resize="true"
                class="font-monospace"
        >
        </hot-table>


        </div>
    </md-card-content>
</div>

<md-card-content>
<!--<div class="card__actions pl pr+ pt+ pb" style="position:absolute; top:46px; bottom:0;left:0;right:0; overflow:hidden;">-->




    <!--<div ng-if="vars.data !== null && vars.data != -1" ng-bind-html="vars.data"></div>-->
</div>

</md-card-content>