
/* row + column resizer*/
.handsontable .manualColumnResizer {
  cursor: col-resize;
  z-index: 12333;
  width: 10px;
  height: 25px;
  background: red;
}


.grid1 {
        border: dotted 1px silver;
}
.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #732145;
}