.dissolve-animation
    &.ng-hide-remove, &.ng-hide-add
        transition 0.5s linear all
    &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add
        opacity 1
    &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove
        opacity 0

.icon-breath-animation
    animation icon-breath 1.5s ease-in-out infinite

.icon-rotate-animation
    animation icon-rotate .8s linear infinite
    margin-right 5px

@keyframes icon-breath
    from
        box-shadow 0 0 2px 5px rgba(255, 138, 138, 0.48)
        opacity 0.5
    to
        box-shadow none
        opacity 1

@keyframes icon-rotate
    from
        transform rotate(0deg)
    to
        transform rotate(360deg)
