// generate handy class for show/hide in different screens
.hide-sm
    +sm()
        display none

.hide-gt-sm
    +generate-media($sizes[0])
        display none

.hide-md
    +md()
        display none

.hide-gt-md
    +generate-media($sizes[1])
        display none

.hide-lg
    +lg()
        display none

.hide-gt-lg
    +generate-media($sizes[2])
        display none

// date picker size for small screen
.lx-date-picker__day
    +sm()
        line-height 16px
        a
            width 16px
            height 16px
            line-height 16px
