@import 'normalize.css';
@import './reset-defaults.css';

body {
  font-size: 13px;
  background: #404040;
  /* line-height: 1.15; */
  /* color: font-color; */
  /* fill: font-color; */
  -webkit-font-smoothing: antialiased;
}

:global(#appLoader) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Hide loader if app content loaded */
:global(#root:not(:empty):not(.loading)) + :global(#appLoader) {
  display: none;
}

:global(.ant-tooltip-inner) {
  white-space: pre;
}
