// screen sizes from https://material.angularjs.org
$sizes = 600 960 1200

// width/height
$headerHeight = 64px
$headerHeightForMobile = 56px
$sidebarWidth = 200px

// color
$successColor = #4CAF50
$errorColor = #F44336
$warningColor = #FF9800
$infoColor = #2196F3

$loadingColor = #2c3e50
