.root {
  :global {
    & .ant-tabs-bar {
      border-bottom: unset;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      flex-grow: 0;

      & div.ant-tabs-extra-content {
        flex-grow: 1;
        order: 999;

        & > span {
          display: flex;
          align-items: center;
        }
      }

      & .ant-tabs-tab {
        color: silver;
        background: unset !important;
        border: unset !important;
        border-right: silver 1px solid !important;
        padding: 0 8px 2px;
        margin-right: 0;
        border-radius: unset !important;
      }
    }
  }
}
