.home-view
    .card
        .title
            font-weight normal
            padding-top 200px
            background url("../images/layout/logo.png") top center no-repeat
        .subtitle
            font-weight normal
            color #DDD1D1
