.brand {
  display: inline-block;
  background-image: url('assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 28px;
  width: 100px;
}

.item {
  &:global(.ant-btn-primary):not(:hover) {
    background-color: transparent;
    border-color: transparent;
  }
}
