<div class="row">

    <div class="col-md-12">

        <div class="WidgetsListResult">
            <div gridstack class="grid-stack grid1" options="gridStackOptions" staticGrid="staticGrid"  on-resize-stop="onResizeStop(event,ui)">

                <!--   ----------------- -->

                <div gridstack-item ng-repeat="w in widgets"
                     class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y" gs-item-width="w.sizeX" gs-item-height="w.sizeY" gs-item-autopos="1">
                    <div class="grid-stack-item-content widget-grid-stack">
                        <div ng-if="::w.title" class="widget-title">{{::w.title}}</div>
                        <draw-widget  widget="w" isdark="w.isDark" class="widget widget-{{::w.type}} widget-selector widget-grid-stack-item" events="events"></draw-widget>
                    </div>
                </div>

                <!--   ----------------- -->

            </div>
        </div>
    </div>
</div>
