<div class="pl pr" flex-container="row" flex-wrap>
    <div class="card" flex-item="6">
        <ul class="list">
            <li class="list-row list-row--has-separator" ng-repeat="database in vars.databases">
                <div class="list-row__primary">
                    <lx-icon lx-id="database" lx-size="s" lx-color="grey" lx-type="flat"></lx-icon>
                </div>
                <div class="list-row__content">
                    <a href ui-sref="database({dbName: database.name})">
                        <span class="tc-black">{{database.name}}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>


<md-sidenav class="md-sidenav-left" md-component-id="left"
            md-disable-backdrop md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>

    <md-content layout-margin>
        <p>
            This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
        <md-button ng-click="toggleLeft()" class="md-accent">
            Close this Sidenav
        </md-button>
    </md-content>

</md-sidenav>
