@value text-color from 'assets/styles/vars.css';

.root {
  * {
    transition: 0ms !important;
  }

  & :global(.anticon-caret-down) {
    color: text-color;
  }

  & li :global(.ant-tree-node-content-wrapper) {
    color: text-color;
    padding: 0 0.25em;

    &:hover {
      color: inherit;
    }
  }

  & li[class*='ant-tree-treenode-switcher-'] {
    display: flex;
    flex-wrap: wrap;

    & > :global(.ant-tree-child-tree) {
      width: 100%;
      padding-right: 0.5em;
    }

    & > :global(.ant-tree-node-content-wrapper) {
      /* & > [class*='ant-tree-node-content-wrapper-'] { */
      flex-grow: 1;
      padding-right: 1em;
    }
  }

  & li.column {
    padding-top: 0;
    padding-bottom: 0;
  }
}
