.grid-item {
  padding: 0 0.2em 0.2em 0;
  /* transform: unset !important; Fix HOTTable but drop Grid */
}

.text {
  white-space: pre;
  padding-top: 1em;
  width: 100%;
  height: 100%;
  background: unset !important;
}

.error {
  background: unset !important;
  padding: 1em 0;
  color: tomato;
  width: 100%;
  height: 100%;
}
