<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center" style="max-width: 700px">
    <md-toolbar style="min-height:0">
        <div class="md-toolbar-tools-title">
            <b>Send to dashboard</b>
            <span flex></span>
            <md-button class="md-icon-button " aria-label="PlotLy close " ng-click="ctrl.close()">
                <i class="mdi mdi-18px mdi-close"></i>
            </md-button>
        </div>
    </md-toolbar>


    <div class="demo-dialog-content">
        <div ng-cloak>
            <md-content style="min-width: 600px ;min-height: 300px">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Exists dashboards">
                        <md-content class="md-padding">


                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Project Type</label>
                                    <md-select name="type" ng-model="project.type" required>
                                        <md-option value="app">Application</md-option>
                                        <md-option value="web">Website</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <br>
                            <md-input-container class="md-block">
                                <label>Title widget</label>
                                <input value="My report">
                            </md-input-container>
                            <br>


                            <md-radio-group>
                                <md-radio-button value="Apple" class="md-primary">Append</md-radio-button>
                                <md-radio-button value="Banana">Bottom </md-radio-button>
                            </md-radio-group>


                        </md-content>
                    </md-tab>
                    <md-tab label="New dashboards">
                        <md-content class="md-padding">

                            <br>
                            <br>
                            <md-input-container class="md-block">
                                <label>Title dashboard</label>
                                <input value="New dash">
                            </md-input-container>
                            <br>
                            <br>
                            <md-input-container class="md-block">
                                <label>Title widget</label>
                                <input value="My report">
                            </md-input-container>
                            <br>


                        </md-content>
                    </md-tab>


                </md-tabs>


                <div layout="row" class="demo-dialog-button">
                    <md-button md-autofocus  class="md-primary" ng-click="ctrl.close()">
                        Close
                    </md-button>
                    <md-button md-autofocus  class="md-warn" ng-click="ctrl.apply()">
                        Apply
                    </md-button>
                </div>



            </md-content>



        </div>

    </div>

</div>

