<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center" style="max-width: 700px">
    <md-toolbar style="min-height:0">
        <div class="md-toolbar-tools-title">
            <b>Share</b>
            <span flex></span>
            <md-button class="md-icon-button " aria-label="PlotLy close " ng-click="ctrl.close()">
                <i class="mdi mdi-18px mdi-close"></i>
            </md-button>
        </div>
    </md-toolbar>


    <div class="demo-dialog-content">
        <div ng-cloak>
            <md-content style="min-width: 600px ;min-height: 300px">
<br>
<br>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input value="https://server.tabix.io/#!/share/5a2ea3d8ba631007da39d0f4/35aef12">
                </md-input-container>

                <md-switch  aria-label="Switch 1">
                    Can refresh data
                </md-switch>


                <md-switch  aria-label="Switch 1">
                    Password protect
                </md-switch>


                <md-switch  aria-label="Switch 1">
                    Support variables
                </md-switch>


                <md-input-container>
                    <label>Format</label>
                    <md-select ng-model="ctrl.userState">
                        <md-option>Board</md-option>
                        <md-option>Json</md-option>
                        <md-option>TSV</md-option>
                        <md-option>CSV</md-option>
                    </md-select>
                </md-input-container>



                <div layout="row" class="demo-dialog-button">
                    <md-button md-autofocus  class="md-primary" ng-click="ctrl.close()">
                        Close
                    </md-button>
                    <md-button md-autofocus  class="md-warn" ng-click="ctrl.apply()">
                        Apply
                    </md-button>

                </div>



            </md-content>



        </div>

    </div>

</div>

