<div class="header">
    <div class="card bgc-blue-500 tc-white">
        <div class="toolbar">
            <div class="toolbar__left mr">
                <button lx-ripple="lx-ripple" ng-if="hasSidebar" ng-click="vm.switchSidebar()" class="btn btn--l btn--white btn--icon hide-gt-sm"><i class="mdi mdi-menu"></i></button>
                <img src="assets/images/logo.png" class="logo"/>
            </div>
            <div class="toolbar__label fs-title header-title">
                <a ui-sref="dashboard" class="tc-white">Clickhouse</a>
            </div>
            <div class="toolbar__right">
                <a ui-sref="sql" href lx-tooltip="SQL" lx-tooltip-position="bottom" lx-ripple="white" class="btn btn--l btn--white btn--icon">
                    <i class="mdi mdi-console"></i>
                </a>
                <a ng-click="logout()" href lx-tooltip="Выход" lx-tooltip-position="bottom" lx-ripple="white" class="btn btn--l btn--white btn--icon">
                    <i class="mdi mdi-lock"></i>
                </a>
                <span class="header-user-name hide-sm p+">{{user}}</span>
            </div>
        </div>
    </div>
</div>
