<div class="header">
    <md-card class="m0 pl0">
        <div>
            <div class="pull-left" style="width: 210px">
                <a ui-sref="dashboard"><img src="assets/images/logotabix.png" class="mr logo"/></a>
            </div>

            <div class="pull-right">
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="menu" ng-click="$mdOpenMenu($event)">
                        <i class="mdi mdi-24px mdi-theme-light-dark"  style="vertical-align:top"></i>
                        <md-tooltip>{{'Тема' | translate}}</md-tooltip><a href="#" class="mdi"  style="vertical-align:top">{{'Тема' | translate}}</a>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="theme in themes">
                            <md-button ng-click="setUiTheme(theme)">{{theme.title}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-button aria-label="menu"  ui-sref="metrics">
                    <i class="mdi mdi-24px mdi-flash"></i><a href="#" class="mdi" style="vertical-align:top">{{'Метрики' | translate}}</a>
                    <md-tooltip >{{'Метрики' | translate}}</md-tooltip>
                </md-button>

                <md-button aria-label="menu"  ui-sref="processes">
                    <i class="mdi mdi-24px mdi-playlist-play"></i><a href="#" class="mdi"  style="vertical-align:top">{{'Список процессов' | translate}}</a>
                    <md-tooltip>{{'Список процессов'| translate}}</md-tooltip>
                </md-button>

                <md-button aria-label="menu"  ui-sref="sql">
                    <i class="mdi mdi-24px mdi-console" ></i><a href="#" class="mdi"  style="vertical-align:top">SQL</a>
                    <md-tooltip>SQL</md-tooltip>
                </md-button>

                <md-button  aria-label="{{'Выход' | translate}}" ng-click="logout()" style="vertical-align:top">
                    <i class="mdi mdi-24px mdi-lock"  ></i><a href="#" class="mdi"  style="vertical-align:top">{{'Выход' | translate}}</a>
                    <md-tooltip>{{'Выход' | translate}}</md-tooltip>
                </md-button>
                <span class="header-user-name hide-sm p+">{{user}}</span>
            </div>
        </div>
    </md-card>
</div>
