<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Tabix.io {{'Сборка' | translate}} {{::vars.version}} [{{::vars.buildDate}}]</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Home">
                    <md-content class="md-padding">

<p>
                        <a href="https://clickhouse.yandex/reference_ru.html" target="_blank" style="text-decoration: underline" >ClickHouse Руководство</a>
</p>
                        <p>
                            <br>
                        </p>
                        <a href="https://tabix.io/doc/" target="_blank" style="text-decoration: underline" >Tabix Руководство</a>
                        </p>

                    </md-content>
                </md-tab>
                <md-tab label="Hot keys">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Hot keys</h1>
                        <md-list class="fixedRows">
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌘ + Enter </h3> <p>Exec current query</p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌘ + Shift + Enter </h3> <p>Exec all query</p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌘ + Y </h3> <p>Drop current line</p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌘ + ⇧ + F  </h3> <p>Reformat</p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌘ + ⇧ + Plus|Minus  </h3> <p>свернуть все/развернуть</p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌘ +  Right|Left   </h3> <p>переключает вкладки</p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌘ + ⌥ + Up|Down   </h3> <p>Copy lines Up/Down</p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌥ + Up|Down   </h3> <p>Move lines Up/Down</p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>Ctrl + K	   </h3> <p>Remove to line end </p> </div> </md-list-item>
                        <md-list-item class="md-2-line contact-item">    <div class="md-list-item-text compact">  <h3>⌘ + Backspace	   </h3> <p>Remove to linestart </p> </div> </md-list-item>
                        </md-list>

                        <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts" target="_blank" style="text-decoration: underline">Ace Editor Default Keyboard Shortcuts</a>

                    </md-content>
                </md-tab>
                <md-tab label="Draw Commands">
                    <md-content class="md-padding">
                        <h3 class="md-display-2">DrawChart</h3>
                        <p>DrawChart</p>

                        <h3 class="md-display-2">DrawMap</h3>
                        <p>DrawMap</p>


                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="https://tabix.io" target="_blank" md-autofocus>
                https://tabix.io
            </md-button>
            <span flex></span>

            <md-button ng-click="answer('useful')" style="margin-right:20px;" >
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>