    <md-content  >
        <md-tabs md-dynamic-height md-border-bottom>

            <!--<md-tab md-on-select="vars.active.chart=true" >-->
                <!--<md-tab-label>-->
                    <!--<i class="mdi mdi-18px mdi-chart-line"></i>-->
                <!--</md-tab-label>-->
                <!--<md-tab-body>-->


                    <!--<md-grid-list-->
                            <!--md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"-->
                            <!--md-row-height-gt-md="1:1" md-row-height="4:3"-->
                            <!--md-gutter="8px" md-gutter-gt-sm="4px" >-->

                        <!--<md-grid-tile ng-repeat="tile in ::vars.charthelp"-->
                                      <!--md-rowspan="{{::tile.span.row}}"-->
                                      <!--md-colspan="{{::tile.span.col}}"-->
                                      <!--md-colspan-sm="1"-->
                                      <!--md-colspan-xs="1"-->
                        <!--&gt;-->
                            <!--<md-icon md-svg-icon="{{::tile.icon}}"></md-icon>-->
                            <!--<md-grid-tile-footer><h3>{{::tile.title}}</h3></md-grid-tile-footer>-->
                        <!--</md-grid-tile>-->
                    <!--</md-grid-list>-->




                <!--</md-tab-body>-->
            <!--</md-tab>-->




            <md-tab md-on-select="vars.active.vars=true" >
                <md-tab-label>
                    <i class="mdi mdi-18px mdi-sigma"></i>
                </md-tab-label>
                <md-tab-body>

                    <div style="display: table; width: 100%;" ng-scrollbars ng-scrollbars-config="::vars.scrollConfig2">

                        <md-button class="md-icon-button" aria-label="More">
                            <md-icon class="mdi mdi-18px mdi-plus" ng-click="showAddVarsDialog()"></md-icon>
                        </md-button>

                        <!--<md-button class="md-icon-button" aria-label="More">-->
                            <!--<md-icon class="mdi mdi-18px mdi-minus" ng-click="showState()"></md-icon>-->
                        <!--</md-button>-->


                        <md-input-container class="md-icon-float md-icon-right md-block" ng-repeat="(id,var) in vars.variables  track by $index">
                            <label>{{var.title}}</label>
                            <md-icon class="mdi mdi-18px mdi-{{var.icon}}"></md-icon>
                            <input ng-change="changed(var.id)" ng-model="var.value" type="{{var.typeEdit}}">
                            <md-icon ng-click="dropVar(id)" class="mdi mdi-18px mdi-delete"></md-icon>
                        </md-input-container>



                    </div>
                </md-tab-body>
            </md-tab>





            <md-tab md-on-select="vars.active.snippet=true" >
                <md-tab-label>
                    <i class="mdi mdi-18px mdi-fish"></i>
                </md-tab-label>
                <md-tab-body>

                    <div style="display: table; width: 100%;" ng-scrollbars ng-scrollbars-config="::vars.scrollConfig2">

                    <md-input-container class="md-icon-float md-icon-right md-block" ng-repeat="(id,snippet) in vars.snippets  track by $index">
                        <label>{{snippet.title}}</label>
                        <input readonly value="{{snippet.code}}" type="text">
                        <md-icon ng-click="dropSnippet(id)" class="mdi mdi-18px mdi-delete"></md-icon>
                    </md-input-container>

                    </div>


                </md-tab-body>
            </md-tab>



            <md-tab md-on-select="vars.active.history=true" >
                <md-tab-label>
                    <i class="mdi mdi-18px mdi-history"></i>
                </md-tab-label>
                <md-tab-body >
                    <div style="display: table; width: 100%;" ng-scrollbars ng-scrollbars-config="::vars.scrollConfig2">
                        <div style="min-height: 100px; position: relative; display: table-cell;">
                            <md-list class="md-dense" flex>
                                <md-list-item class="md-3-line md-long-text" ng-click="actionHistory(hist)" ng-repeat="hist in vars.historysql | limitTo:20 track by $index ">
                                    <p class="sqlHistoryList">{{ hist }}</p>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>


                </md-tab-body>
            </md-tab>



        </md-tabs>
</md-content>