<div class="sidebar" ng-app="sidebar" ng-scrollbars ng-scrollbars-config="vars.scrollConfig">
    <md-input-container md-no-float class="md-block">
        <input ng-model="vars.searchline" type="text" placeholder="{{'Поиск' | translate}}" >
        <md-icon class="mdi mdi-filter-remove" ng-click="vars.searchline=''" style="display:inline-block;"></md-icon>
    </md-input-container>

    <fun-metis-menu ng-if="vars.loaded && !vars.error" fun-metis-config="vars.metis.config"
                    fun-metis-events="vars.metis.events" class="metismenu" id="sideBarMetismenu">
        <nav>
            <ul>
                <li class="active">
                    <a class="has-arrow" >
                        <md-button class="text-left no-txt-transform w200">
                            <i class="mdi mdi-server"></i>
                            Server
                            <span class="pull-right" style="color: silver"></span>
                        </md-button>
                    </a>
                    <ul class="sub-menu">
                        <li ng-repeat="database in vars.databases" ng-class="currentDatabase==database.name?'active':''">

                            <a ng-mouseenter >
                                <md-button class="text-left no-txt-transform w100" ng-dblclick="clickAndSelect(database, $event)" >
                                    <i class="mdi mdi-database"></i>
                                    {{database.name}}
                                    <span class="db__table-count">{{database.tables.length}}</span>
                                </md-button>
                            </a>

                            <ul class="sub-menu" ng-if="database.tables.length">
                                <li ng-repeat="table in database.tables" >

                                    <a class="has-arrow"
                                       ng-class="table.active?'side_tableactive':'side_tablenoactive'">
                                        <md-menu mousepoint-menu>

                                            <md-button ng-mouseenter class="text-left no-txt-transform" ng-dblclick="openTable(table)"
                                                       ng-right-click="$mdOpenMousepointMenu($event)">
                                                <i ng-if="table.classEngine" class="mdi mdi-{{table.classEngine}}"></i>
                                                <i ng-if="!table.classEngine" class="mdi mdi-table"></i>
                                                {{table.name}}
                                            </md-button>

                                            <md-menu-content width="4">
                                                <md-menu-item ng-repeat="menu in table.rightMenuList | filter: {active: true}">
                                                    <md-button ng-click="rightMenuProcessTable(menu, $event)"> <i class="mdi mdi-{{menu.icon}}"></i>
                                                        {{menu.value}}
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>

                                        </md-menu>
                                    </a>
                                    <ul class="sub-menu">
                                        <li ng-repeat="field in table.fields" class="text-left no-txt-transform table-fields-sidebar" ng-click="clickInsertField(field)">
                                            <pre style="margin: 2px 0px 0px 2px;white-space: nowrap;"
                                                 ng-class="field.active?'side_fieldactive':'side_fieldnoactive'">{{field.name}}&nbsp;&nbsp;&nbsp;&nbsp;<i style="color: silver">{{field.type}}</i></pre>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </fun-metis-menu>
    <div ng-if="vars.loaded && vars.error" class="mt+">
        No connect, or Error or Loadind!
        See console log
    </div>
</div>
