<div class="sidebar" ng-app="sidebar" ng-scrollbars ng-scrollbars-config="vars.scrollConfig">
    <fun-metis-menu ng-if="vars.loaded" fun-metis-config="vars.metis.config" fun-metis-events="vars.metis.events" class="metismenu">
        <nav>
            <ul>
                <li ng-repeat="database in vars.databases" ng-class="currentDatabase==database.name?'active':''">
                    <a>
                        <md-button class="text-left no-txt-transform w100" ng-click="clickAndSelect(database, $event)">
                            <i class="mdi mdi-database"></i>{{database.name}}</md-button>
                    </a>
                    <ul class="sub-menu" ng-if="database.tables.length">
                        <li ng-repeat="table in database.tables">
                            <md-button class="text-left no-txt-transform" ng-click="openTable(table)">
                                <i class="mdi mdi-table"></i>{{table.name}}</md-button>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </fun-metis-menu>
    <div ng-if="!vars.loaded">
        no connect
    </div>
</div>
