<div ng-controller="FooterCtrl as footer">

<md-tab ng-repeat="result in tab.results" md-dynamic1-height md-border-bottom class="h100">
    <md-tab-label>
        {{::result.time}}
        <i class="mdi mdi-18px ml+" ng-class="result.pinned ? 'mdi-pin' : 'mdi-pin-off'" ng-click="result.pinned = !result.pinned; $event.stopPropagation()"></i>
        <i class="mdi mdi-close" ng-click="removeResult(tab, result, $event)"></i>
    </md-tab-label>
    <md-tab-body>
        <div ng-repeat="item in result.data">
                <md-tabs md-dynamic-height md-selected="item.selectedTabIndex" md-border-bottom md-autoselect>
                    <md-tab>
                        <md-tab-label>
                        Table <i class="mdi mdi-18px mdi-table-large"></i>
                        </md-tab-label>

                        <md-tab-body>
                            <md-card class="m0">
                                <div>
                                    <div class="pull-left" ng-if="item.statistics">
                                        <md-button aria-label="menu" class="md-icon-button" ng-click="addDictionariesWord(item.createtable)" ng-if="item.createtable">
                                            <i class="mdi mdi-table-large"></i>
                                        </md-button>
                                        <md-menu md-position-mode="target">
                                            <md-button aria-label="menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                <i class="mdi mdi-file-excel"></i>
                                            </md-button>
                                            <md-menu-content>
                                                <md-menu-item>
                                                    <md-button
                                                            ng-csv="getExportData(item.data)"
                                                            quote-strings='"'
                                                            filename="{{tab.name}}-{{result.time}}.csv"
                                                            csv-header="getExportHeaders(item.meta)"
                                                    >
                                                        {{'CSV с заголовком' | translate}}
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button
                                                            ng-csv="getExportData(item.data)"
                                                            quote-strings='"'
                                                            filename="{{tab.name}}-{{result.time}}.csv"
                                                    >
                                                        {{'CSV без заголовка' | translate}}
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button
                                                            ng-csv="getExportData(item.data)"
                                                            quote-strings=''
                                                            filename="{{tab.name}}-{{result.time}}.txt"
                                                            field-separator="\t"
                                                            csv-header="getExportHeaders(item.meta)"
                                                    >
                                                        {{'Табулированный текст с заголовками' | translate}}
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button
                                                            ng-csv="getExportData(item.data)"
                                                            quote-strings=" "
                                                            filename="{{tab.name}}-{{result.time}}.txt"
                                                            field-separator="\t"
                                                            csv-header="getExportHeaders(item.meta)"
                                                    >
                                                        {{'Табулированный текст без заголовков' | translate}}
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                    <div style="white-space: nowrap; line-height: 40px" class="md-card pull-right mr" ng-if="item.statistics">
                                        {{'время' | translate}}: <b>{{item.statistics.elapsed | number:3}}</b>,
                                        {{'строк прочитано' | translate}}: <b>{{item.statistics.rows_read | number}}</b>,
                                        {{'прочитано' | translate}}: <b>{{item.statistics.bytes_read | filesize}}</b>

                                    </div>
                                </div>

                            </md-card>

                            <span ng-if="item.result === null">{{'нет данных' | translate}}</span>
                            <div ng-if="item.result !== null" ng-bind-html="item.result" style="overflow-x: auto; overflow-y: auto; width: 100%; min-height: 40px"></div>
                        </md-tab-body>
                    </md-tab>




                    <!-- CHART -->

                     <md-tab md-on-select="initCharts(item.meta,item.data,item.query)" ng-if="item.charts">
                        <md-tab-label>
                        Charts <i class="mdi mdi-18px mdi-show-chart"></i>
                        </md-tab-label>

                        <md-tab-body>
                            <p>{{widgets}}</p>
                            <div>
                                <a class="btn btn-primary" ng-click="addWidget()" href="#">Add Widget</a>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div gridstack class="grid-stack grid1" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">


                                        <div gridstack-item ng-repeat="w in widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
                                             gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
                                            <div class="grid-stack-item-content">
                                                <a class="btn btn-primary" ng-click="removeWidget(w)" href="#">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <md-card md-theme-watch ng-repeat="chart in render.charts">

                            <span ng-if="chart.echarts">
                                <echarts options="chart.echarts.options" style="width:1000px; height:700px;border: 1px solid silver" ></echarts>
                            </span>

                            <span ng-if="chart.amchart">
                                <div id="myFirstChart" style="height:500px;width:100%;border: 1px dotted red"></div>
                            </span>

                            </md-card>


                        </md-tab-body>
                    </md-tab>





                    <!--<md-tab md-on-select="initSankeys(item.meta,item.data,item.query)" ng-if="item.echarts">-->
                        <!--<md-tab-label>-->
                            <!--{{item.echarts.title}} <i class="mdi mdi-18px mdi-pages"></i>-->
                        <!--</md-tab-label>-->

                        <!--<md-tab-body >-->

                        <!--</md-tab-body>-->
                    <!--</md-tab>-->

                    <!-- PIVOTJS -->
                    <md-tab md-on-select="initPivot(item.meta,item.data,item.query)" ng-if="item.pivot">
                        <md-tab-label>
                            Pivot  <i class="material-icons mdi mdi-18px mdi-extension"></i>
                        </md-tab-label>
                        <md-tab-body >
                            <div id="pivotDiv" ng-if="ready.pivot" style="width:600px; height:100%"></div>
                        </md-tab-body>
                    </md-tab>




                </md-tabs>



        </div>
    </md-tab-body>
</md-tab>

</div>
