<md-dialog aria-label="PlotLy JavaScript editor ">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>PlotLy JavaScript editor ( alpha )</h2>
                <span flex></span>
                <md-button class="md-icon-button " ng-click="cancel()">
                    <i class="mdi mdi-18px mdi-close"></i>

                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

                        <div ui-ace="{onLoad: aceLoadedEditor}" ng-model="code"  style="padding: 0 0 0 0;min-width: 500px;min-height: 300px;width:100%;height:100%;"></div>


        </md-dialog-content>

    </form>
</md-dialog>