<div ng-controller="RenderCtrl as render">

<md-tab ng-repeat="result in tab.results" md-dynamic1-height md-border-bottom class="h100">

<md-tab-label>
        {{::result.time}}
        <i class="mdi mdi-18px ml+" ng-class="result.pinned ? 'mdi-pin' : 'mdi-pin-off'" ng-click="result.pinned = !result.pinned; $event.stopPropagation()"></i>
        <i class="mdi mdi-close" ng-click="removeResult(tab, result, $event)"></i>
    </md-tab-label>

<md-tab-body>

    <!--md-selected="selectedTabResultIndex"-->
    <md-tabs md-dynamic-height  md-border-bottom md-autoselect>

        <!-- !TABLES! -->
        <md-tab md-on-select="initTableTab(result.data)">
            <md-tab-label>
                Table <i class="mdi mdi-18px mdi-table-large"></i>
            </md-tab-label>

            <md-tab-body>
                <div ng-repeat="item in result.data">
                <span ng-if="item.result === null">{{'нет данных' | translate}}</span>
                <div ng-if="item.result !== null" ng-bind-html="item.result" style="overflow-x: auto; overflow-y: auto; width: 100%; min-height: 40px"></div>
                </div>
            </md-tab-body>


            <!-- CHART -->



        </md-tab>


        <!-- !CHART! -->
        <md-tab md-on-select="initDrawTab(result.data)">
            <md-tab-label>
                Draw <i class="mdi mdi-18px mdi-show-chart"></i>
            </md-tab-label>

            <md-tab-body>
            </md-tab-body>
        </md-tab>


        <!-- !PIVOTJS! -->
        <md-tab md-on-select="initPivotTab(result.data)">
            <md-tab-label>
                Pivot  <i class="material-icons mdi mdi-18px mdi-extension"></i>
            </md-tab-label>
            <md-tab-body >
                <div ng-if="ready.pivot" style="width:600px; height:100%"></div>
            </md-tab-body>
        </md-tab>

    </md-tabs>


</md-tab-body>

</md-tab>
</div>




