<div style="position: absolute; top: 4px; right: 4px; z-index: 2">
    <md-button aria-label="menu" class="md-icon-button" ng-click="toggleSidenav('right')">
        <i class="mdi mdi-settings"></i>
        <md-tooltip>{{'Настройки редактора' | translate}}</md-tooltip>
    </md-button>
</div>

<div ngsf-fullscreen="fullscreenCtrl" class="fullscreen md-tabs-fix" ng-class="vars.uiTheme.name">
    <md-tabs md-dynamic-height md-border-bottom md-selected="vars.selectedTab" class="sql-tabs">
        <md-tab ng-repeat="tab in vars.tabs" ng-click="vars.currentTab = tab">
            <md-tab-label>
                {{tab.name + (tab.changed ? ' *' : '')}}
                <i class="mdi mdi-pencil ml+" ng-click="changeTabName(tab, $event)" style="cursor: pointer"></i>
                <i class="mdi mdi-close" ng-click="removeTab(tab, $event)" style="cursor: pointer"></i>
            </md-tab-label>
            <md-tab-body>
                <div style="display: table; width: 100%;">
                    <div style="min-height: 100px; position: relative; display: table-cell;">
                        <div resizable r-directions="['bottom']" r-height="300" style="">
                            <md-menu mousepoint-menu>
                                <div
                                    ng-model="tab.sql"
                                    ng-right-click="$mdOpenMousepointMenu($event)"
                                    ui-ace="{
                                        useWrapMode : true,
                                        mode: 'clickhouse',
                                        onLoad: aceLoaded,
                                        advanced: {
                                            enableBasicAutocompletion: true
                                        }
                                    }"
                                    style=" width: 100%; height: 100%;"
                                    ng-mouseenter
                                >
                                </div>
                                <md-menu-content id="menu" width="4">
                                    <md-menu-item ng-repeat="menu in rightAceMenuList | filter: {active: true}">
                                        <md-button ng-click="rightMenuProcess(menu, $event)"> <i class="mdi mdi-{{menu.icon}}"></i>
                                            {{menu.value}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                </md-menu-content>
                            </md-menu>
                        </div>





                        <md-button class="md-raised1 md-primary" ng-disabled="tab.loading" ng-click="execute('all', tab)">{{tab.buttonTitle}}</md-button>

                        <md-button class="md-icon-button " ng-click="fullscreenCtrl.toggleFullscreen()" aria-label="fullscreen">
                            <i class="mdi mdi-fullscreen"></i>
                            <md-tooltip>{{'На весь экран' | translate}}</md-tooltip>
                        </md-button>


                        <md-button class="md-icon-button" ng-click="save(tab, $event)" show-if-fullscreen="false" aria-label="save">
                            <i class="mdi mdi-content-save"></i>
                            <md-tooltip>{{'Сохранить' | translate}}</md-tooltip>
                        </md-button>
                        <md-menu md-position-mode="target-right target" ng-if="vars.sqlHistory.length" show-if-fullscreen="false">
                            <md-button aria-label="menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <i class="mdi mdi-history"></i>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item ng-repeat="item in vars.sqlHistory track by $index" ng-click="load(item)">
                                    <md-button>
                                        {{item.name}}
                                        <md-tooltip>{{'История зарпросов' | translate}}</md-tooltip>
                                        <div class="pull-right">
                                            <i class="mdi mdi-close ml+" ng-click="removeHistory(item, $event)"></i>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                        <md-button class="md-icon-button" ng-click="toggleSidenav('log')" show-if-fullscreen="false" aria-label="log">
                            <i class="mdi mdi-view-headline"></i>
                            <md-tooltip>{{'Лог запросов' | translate}}</md-tooltip>
                        </md-button>

                        <md-input-container>
                            <md-select ng-model="vars.db" placeholder="Select database">
                                <md-optgroup label="Database">
                                    <md-option ng-value="dbb" ng-repeat="dbb in vars.databasesList track by $index" ng-click="selectDatabase(dbb)">USE {{dbb}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <small class="pull-right" ng-if="vars.LastStatistics" style="color: silver;padding-top: 20px">
                            {{vars.LastStatistics.elapsed| number:2}} sec.| {{vars.LastStatistics.rows_read| number}}
                            rows.| {{vars.LastStatistics.bytes_read|filesize}}
                        </small>

                        <div ng-if="tab.loading" style="display: table; width: 100%;">
                            <md-progress-linear md-mode="indeterminate" >{{tab.progress.query}} </md-progress-linear>
                            <i style="font-size: 70%">..... {{tab.progress.query}} </i>
                        </div>
                    </div>
                </div>
                <md-tabs md-dynamic-height md-border-bottom ng-if="tab.results.length" md-selected="tab.selectedResultTab">

                    <span  ng-include="'app/sql/renderResult.html'"></span>
                </md-tabs>




            </md-tab-body>
        </md-tab>
        <md-tab ng-click="addTab()">
            <md-tab-label>
                <i class="mdi mdi-plus-circle"></i>
            </md-tab-label>
        </md-tab>
    </md-tabs>
</div>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <div class="p+">
        <h4 class="mt0 mb+++">
            {{'Настройки редактора' | translate}}
        </h4>
        <md-input-container class="width-100">
            <label for="inp1">{{'Размер шрифта' | translate}}</label>
            <input type="text" id="inp1" ng-model="vars.fontSize">
        </md-input-container>
        <md-input-container class="width-100">
            <label for="inp2">{{'Максимум строк' | translate}}</label>
            <input type="text" id="inp2" ng-model="vars.limitRows">
        </md-input-container>
        <md-input-container class="width-100 mt mb++">
            <label>{{'Формат результатов' | translate}}</label>
            <md-select ng-model="vars.format">
                <md-option ng-repeat="format in vars.formats" ng-value="format" ng-click="vars.format = format">
                    {{format.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="width-100 mb++">
            <label>{{'Тема редактора' | translate}}</label>
            <md-select ng-model="vars.theme">
                <md-option ng-repeat="theme in vars.themes" ng-value="theme" ng-click="setTheme(theme)">
                    {{theme}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="width-100 mt mb+">
            <label>{{'Тема интерфейса' | translate}}</label>
            <md-select ng-model="vars.uiTheme">
                <md-option ng-repeat="theme in vars.uiThemes" ng-value="theme" ng-click="setUiTheme(theme)">{{theme.title}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="width-100 mt">
            <md-checkbox ng-model="vars.saveTabs" aria-label="saveTabs">
                {{'Сохранять сессию' | translate}}
            </md-checkbox>
        </md-input-container>

        <md-input-container class="width-100 mt">
            <md-checkbox ng-model="vars.enableLiveAutocompletion" aria-label="LiveAutocompletion">
                Live Autocompletion
            </md-checkbox>
        </md-input-container>

        <md-input-container class="width-100 mt">
            <md-checkbox ng-click="setDisableAutoHelp()" ng-model="vars.disableAutohelp" aria-label="LiveAutocompletion">
                Disable auto-help
            </md-checkbox>
        </md-input-container>
        <md-input-container class="width-100 mt">
            <md-checkbox ng-model="vars.disableHotKeyCmdLeft" aria-label="Disable hotKey left+right">
                Disable hotKey left+right
            </md-checkbox>
        </md-input-container>

        <md-input-container class="width-100 mt mb+">
            <label>{{'Разделитель запросов' | translate }}</label>
            <md-select ng-model="vars.delimiter">
                <md-option ng-repeat="delimiter in vars.delimiters" ng-value="delimiter.delimiter" ng-click="vars.delimiter = delimiter">
                    {{delimiter.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-button ng-click="toggleSidenav('right')" class="md-primary ml0 mt+++" style="line-height: inherit;">
            {{'Закрыть' | translate}}
        </md-button>
    </div>
</md-sidenav>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="log">
    <div class="p+">
        <h4 class="mt0">
            <md-button class="md-icon-button pull-right" ng-click="toggleSidenav('log')" aria-label="close" style="margin-top: -10px; margin-right: -10px">
                <i class="mdi mdi-close"></i>
                <md-tooltip>{{'Сохранить' | translate}}</md-tooltip>
            </md-button>
            {{'Лог запросов' | translate}}
        </h4>
    </div>
    <div>
    <md-input-container>
        <label>{{'Искать на сервере' | translate}}</label>
        <input ng-model="vars.searchQueryOnServer"/>
    </md-input-container>
    <md-button md-no-ink class="md-primary" ng-click="searchSqlLogServer()">Search</md-button>

    </div>
    <div>
            <hr>
            <div ng-repeat="sql in vars.sqlLogServer" md-ink-ripple="" style="position: relative; cursor: pointer; border-bottom: 1px rgba(120, 120, 120, 0.2) solid;" class="p pl+" ng-click="setSql(sql)">
                <pre class="p0 m0"
                     style="font-size:10px;max-height: 88px; line-height: 16px; overflow: hidden; text-overflow: ellipsis">{{::sql}}</pre>
            </div>
    </div>

    <div ng-repeat="sql in vars.sqlLog" md-ink-ripple="" style="position: relative; cursor: pointer; border-bottom: 1px rgba(120, 120, 120, 0.2) solid;" class="p pl+" ng-click="setSql(sql)">
        <pre class="p0 m0" style="max-height: 48px; line-height: 16px; overflow: hidden; text-overflow: ellipsis">{{::sql}}</pre>
    </div>
    <small class="p+" ng-if="vars.sqlLog.length === 0">
        {{'История запросов пуста' | translate}}
    </small>
</md-sidenav>
