<div class="card mb+">
    <div class="pl+ pt+ pb+ pr">
        <div class="float-right" style="margin-top: -5px">
            <lx-text-field lx-label="Шрифт" lx-fixed-label="true" lx-icon="format-size" style="width: 60px; float: left; margin-top: -5px; margin-right: 15px;">
                <input type="text" ng-model="vars.fontSize">
            </lx-text-field>
            <lx-dropdown lx-position="right" lx-over-toggle="true">
                <lx-dropdown-toggle>
                    <lx-button lx-color="black" lx-type="flat">
                        {{vars.theme}}
                    </lx-button>
                </lx-dropdown-toggle>
                <lx-dropdown-menu>
                    <ul>
                        <li ng-repeat="theme in vars.themes">
                            <a class="dropdown-link" ng-click="setTheme(theme)">{{theme}}</a>
                        </li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
            <lx-dropdown lx-position="right" lx-over-toggle="true">
                <lx-dropdown-toggle>
                    <lx-button lx-color="black" lx-type="flat">
                        {{vars.format.name}}
                    </lx-button>
                </lx-dropdown-toggle>
                <lx-dropdown-menu>
                    <ul>
                        <li ng-repeat="format in vars.formats">
                            <a class="dropdown-link" ng-click="vars.format = format">{{format.name}}</a>
                        </li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
            <lx-dropdown lx-position="right" lx-over-toggle="true" lx-width="250">
                <lx-dropdown-toggle>
                    <lx-button lx-color="black" lx-type="icon">
                        <i class="mdi mdi-history"></i>
                    </lx-button>
                </lx-dropdown-toggle>
                <lx-dropdown-menu>
                    <ul ng-if="vars.sqlHistory.length == 0">
                        <li class="tc-grey-400 pl fs-body-2">История запросов пуста</li>
                    </ul>
                    <ul ng-if="vars.sqlHistory.length > 0">
                        <li ng-repeat="item in vars.sqlHistory track by $index">
                            <a class="dropdown-link" ng-click="vars.sql = item">{{item}}</a>
                        </li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
        SQL
    </div>
    <div class="card__actions">
        <div style="min-height: 200px; position: relative;" id="resizable">
        <div ng-model="vars.sql" ui-ace="{
        useWrapMode : true,
        mode: 'clickhouse',
        onLoad: aceLoaded,
        advanced: {
            enableBasicAutocompletion: true
        }
    }" style="min-height: 200px; width: 100%; height: 100%; border-bottom: 3px #eee solid; border-right: 3px #eee solid;"></div>
    </div>
        <lx-button lx-color="green mt" ng-click="run()">
            <i class="mdi mdi-play"></i> Выполнить
        </lx-button>
    </div>
</div>

<div class="card">
    <div class="p+">
        <div style="white-space: nowrap; float: right; line-height: 26px; color: #666;" class="fs-caption" ng-if="vars.statistics">
            время: <b>{{vars.statistics.elapsed}}</b>,
            строк прочитано: <b>{{vars.statistics.rows_read}}</b>,
            байт прочитано: <b>{{vars.statistics.bytes_read}}</b>
        </div>
        Результат
    </div>
    <div class="card__actions p+" style="max-height: 560px; overflow-x: auto; overflow-y: auto;">
        <span ng-if="vars.sqlData === null" class="fs-caption">нет данных</span>
        <div ng-if="vars.sqlData !== null" ng-bind-html="vars.sqlData"></div>
    </div>
</div>
